/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

a:default {
  color: #f8f8f2 !important;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: gainsboro;
}

.nav-link:hover {
  color: gold;
}

.nav-underline .active {
  font-weight: bolder;
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: gainsboro;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: rebeccapurple !important; }
.bg-dark {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
}
a {
  color: white;
}

.littleSpace {
  margin-top: 1rem;
}

.marginLeft {
  margin-left: 1rem;
}
:root {
  --black:#21222c;
  --blackSecondary:#414558;
  --blackTernary:#a7abbe;
  --blackLight:hsla(230,15%,15%,5%);
  --white:#f8f8f2;
  --whiteSecondary:#fff;
  --whiteLight:hsla(60,30%,96%,5%);
  --cyan:#80ffea;
  --cyanSecondary:#ccfff6;
  --cyanLight:hsla(170,100%,75%,5%);
  --green:#8aff80;
  --greenSecondary:#d0ffcc;
  --greenLight:hsla(115,100%,75%,5%);
  --orange:#ffca80;
  --orangeSecondary:#ffeacc;
  --orangeLight:hsla(35,100%,75%,5%);
  --pink:#ff80bf;
  --pinkSecondary:#ffcce6;
  --pinkLight:hsla(330,100%,75%,5%);
  --purple:#9580ff;
  --purpleSecondary:#d5ccff;
  --purpleLight:hsl(250,100%,75%,5%);
  --red:#ff9580;
  --redSecondary:#ffd5cc;
  --redLight:hsla(10,100%,75%,5%);
  --yellow:#ffff80;
  --yellowSecondary:#ffc;
  --yellowLight:hsla(60,100%,75%,5%);
  --cyan-transparent:rgba(128,255,234,0.1);
  --green-transparent:rgba(138,255,128,0.1);
  --orange-transparent:rgba(255,202,128,0.1);
  --pink-transparent:rgba(255,128,191,0.1);
  --purple-transparent:rgba(149,128,255,0.1);
  --red-transparent:rgba(255,149,128,0.1);
  --yellow-transparent:rgba(255,255,128,0.1);
  --disabled:#6c7393;
  --gradientDegree:135deg;
  --glowColor:hsla(0,0%,100%,0.25);
  --cyan-100:rgba(128,255,234,0.1);
  --green-100:rgba(138,255,128,0.1);
  --orange-100:rgba(255,202,128,0.1);
  --pink-100:rgba(255,128,191,0.1);
  --purple-100:rgba(149,128,255,0.1);
  --red-100:rgba(255,149,128,0.1);
  --yellow-100:rgba(255,255,128,0.1);
  --cyan-200:rgba(128,255,234,0.2);
  --green-200:rgba(138,255,128,0.2);
  --orange-200:rgba(255,202,128,0.2);
  --pink-200:rgba(255,128,191,0.2);
  --purple-200:rgba(149,128,255,0.2);
  --red-200:rgba(255,149,128,0.2);
  --yellow-200:rgba(255,255,128,0.2);
  --cyan-300:rgba(128,255,234,0.3);
  --green-300:rgba(138,255,128,0.3);
  --orange-300:rgba(255,202,128,0.3);
  --pink-300:rgba(255,128,191,0.3);
  --purple-300:rgba(149,128,255,0.3);
  --red-300:rgba(255,149,128,0.3);
  --yellow-300:rgba(255,255,128,0.3);
  --cyan-400:rgba(128,255,234,0.4);
  --green-400:rgba(138,255,128,0.4);
  --orange-400:rgba(255,202,128,0.4);
  --pink-400:rgba(255,128,191,0.4);
  --purple-400:rgba(149,128,255,0.4);
  --red-400:rgba(255,149,128,0.4);
  --yellow-400:rgba(255,255,128,0.4);
  --cyan-500:rgba(128,255,234,0.5);
  --green-500:rgba(138,255,128,0.5);
  --orange-500:rgba(255,202,128,0.5);
  --pink-500:rgba(255,128,191,0.5);
  --purple-500:rgba(149,128,255,0.5);
  --red-500:rgba(255,149,128,0.5);
  --yellow-500:rgba(255,255,128,0.5);
  --cyan-600:rgba(128,255,234,0.6);
  --green-600:rgba(138,255,128,0.6);
  --orange-600:rgba(255,202,128,0.6);
  --pink-600:rgba(255,128,191,0.6);
  --purple-600:rgba(149,128,255,0.6);
  --red-600:rgba(255,149,128,0.6);
  --yellow-600:rgba(255,255,128,0.6);
  --cyan-700:rgba(128,255,234,0.7);
  --green-700:rgba(138,255,128,0.7);
  --orange-700:rgba(255,202,128,0.7);
  --pink-700:rgba(255,128,191,0.7);
  --purple-700:rgba(149,128,255,0.7);
  --red-700:rgba(255,149,128,0.7);
  --yellow-700:rgba(255,255,128,0.7);
  --cyan-800:rgba(128,255,234,0.8);
  --green-800:rgba(138,255,128,0.8);
  --orange-800:rgba(255,202,128,0.8);
  --pink-800:rgba(255,128,191,0.8);
  --purple-800:rgba(149,128,255,0.8);
  --red-800:rgba(255,149,128,0.8);
  --yellow-800:rgba(255,255,128,0.8);
  --cyan-900:rgba(128,255,234,0.9);
  --green-900:rgba(138,255,128,0.9);
  --orange-900:rgba(255,202,128,0.9);
  --pink-900:rgba(255,128,191,0.9);
  --purple-900:rgba(149,128,255,0.9);
  --red-900:rgba(255,149,128,0.9);
  --yellow-900:rgba(255,255,128,0.9);
  --accentColor:var(--purple);
  --purple-cyan:linear-gradient(var(--gradientDegree),var(--purple) 0%,var(--cyan) 100%);
  --yellow-pink:linear-gradient(var(--gradientDegree),var(--yellow) 0%,var(--pink) 100%);
  --cyan-green:linear-gradient(var(--gradientDegree),var(--cyan) 0%,var(--green) 100%);
  --pink-purple:linear-gradient(var(--gradientDegree),var(--pink) 0%,var(--purple) 100%)
}
