<div *ngIf="case">
  <div class="alert alert-dark caseBox" role="alert">
    <h1><span class="badge bg-secondary">CASE</span> {{case.name}}</h1>
    <p><b>Created:</b> {{case.created | date}}<span *ngIf="case.lastChange"><br><b>Last change:</b> {{case.lastChange | date}}</span><br>
      <b>{{case.description}}</b></p>
  </div>
  <div *ngFor="let session of case.sessionList" class="alert alert-info postBox">
    <h5><span class="badge bg-primary text-light">{{session.created | date}}</span> {{session.intention}}</h5>
    <p style="white-space: pre">{{session.description}}</p>
    <p *ngFor="let par of session.paragraphs">{{par.note}}</p>
  </div>
  <div *ngIf="newSession" class="alert alert-primary" role="alert">
    <div class="mb-3">
      <div class="form-group mb-2">
        <label for="intention" class="sr-only">Intention</label>
        <input type="text" class="form-control" id="intention" placeholder="intention" [formControl]="intention">
      </div>
      <div class="mb-3">
        <label for="description" class="sr-only">Description</label>
        <textarea cols="5" class="form-control" id="description" placeholder="description" [formControl]="description"></textarea>
      </div>
    </div>
  </div>
  <div *ngIf="editParagraph" class="alert alert-primary" role="alert">
    <div class="mb-3">
      <div class="mb-3">
        <label for="note" class="sr-only">Note</label>
        <textarea cols="5" class="form-control" id="note" placeholder="note" [formControl]="note"></textarea>
      </div>
    </div>
  </div>
  <button *ngIf="!(newSession || editParagraph)" class="btn btn-primary" (click)="addSession()">ADD SESSION</button>
  <button *ngIf="!(newSession || editParagraph)" class="btn btn-success marginLeft" (click)="addParagraph()">ADD NOTE</button>
  <button class="btn btn-primary marginLeft" (click)="saveCase()">SAVE</button>
  <button *ngIf="newSession" class="btn btn-warning marginLeft" (click)="cancelNewSession()">CANCEL</button>
  <button *ngIf="editParagraph" class="btn btn-warning marginLeft" (click)="cancelNewParagraph()">CANCEL</button>
</div>
